:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.slideshow {
  margin-top: -30px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

}

.nav-bar {
  padding: 27px;
  font-weight: bold;
  box-shadow: 0px 5px 13px -7px #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 70px;
  z-index: 100;
  transition: 150ms ease-in;

}

.nav-bar__top {
  display: flex;
  justify-content: space-between;
}

/* .nav-bar__left-links {
  display: flex;
  gap: 7px;
}

.nav-bar__right {
  display: flex;
  gap: 5px;
} */

.nav-link {
  color: #213547;
  font-weight: bold;
}

.nav-link:hover {
  color: #213547;
}

.empty-cart-message {
  padding: 7px 20px;
  border-radius: 5px;
  background-color: rgb(252, 246, 199);
}

.checkout-btn {
  color: white;
}

.checkout-btn:hover {
  background-color: #303030;
}

.basket-quantity {
  transition: transform 50ms ease-in;
}

.basket-quantity.item-placed {
  transform: scale(1.3);
}

.basket-icon {
  width: 26px;
  position: relative;
  filter: invert(91%) sepia(10%) saturate(930%) hue-rotate(67deg) brightness(91%) contrast(88%);
}

.remove-icon {
  margin-top: 5px;
  width: 30px;
  cursor: pointer;
  filter: invert(20%) sepia(93%) saturate(7478%) hue-rotate(1deg) brightness(119%) contrast(122%);
}

.basket-icon__container {
  position: relative;
}

.basket-icon__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: black;
  color: white;
}

.basket-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 20px;
  gap: 50px;
}

.basket-container.has-items {
  /* border-left: solid 2px black; */
}

.basket-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  width: 100%;

}

.basket-item__photo {
  width: 100px;
  height: 100px;
}

.basket-item__details {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  width: 110px;
}

.basket-item__details b {
  font-size: 0.9rem;
}
.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 700px;
  /* border: solid 1px purple; */
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  border-radius: 6px;
}


.product__heading {
  font-size: 0.8rem;
  margin: 0;
  position: relative;
}

.product__heading::after {
  content: '';
  width: 0;
  height: 3px;
  background: #646cff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 100ms ease-in-out;
}

/* .product:hover .product__heading::after {
  width: 100%;
} */

.product__photo {
  width: 120px;
  margin: 20px;
}

.product__input-container > .product__quantity-input {
  width: 40px;
  height: 30px;
}

.product__input-container button {
  background: #4b84aa;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

select {
  width: 50px;
  background-color: none;
  background: none;
  border: solid 2px #a6daa9;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.add-basket-btn:hover {
  background: #3d7296;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.hamburger-container {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hamburger-line {
  width: 100%;
  height: 6px;
  background-color: #000;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}

.hamburger-line:nth-child(1) {
  top: 0;
}

.hamburger-line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-line:nth-child(3) {
  bottom: 0;
}

.hamburger-container.open .hamburger-line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger-container.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger-container.open .hamburger-line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.mobile-menu {
  display: none;
  transition: all 250ms ease;
  font-size: 3rem;
}

.desktop-menu {
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 550px) {

  .mobile-menu.open {
    display: block;
  }
  .mobile-menu.open > .nav-link {
    display: block;
    border-bottom: solid 2px black;
    transition: transform 100ms ease-in-out;
  }

  .mobile-menu.open > .nav-link:hover {
    transform: scale(1.05);
  }

  .desktop-menu {
    display: none;
    border: solid 2px red;
  }
  .nav-bar.open {
    flex-direction: column;
    justify-content: initial;
    height: 80%;
  }

  .nav-bar__left-links.open {
    display: block;
  }

  .nav-bar__left-links.open > .nav-link{
    display: block;
  }

  .hamburger-container {
    display: block;
  }
}
